:root {
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

.dashboard {
    width: 100%;
    display: grid;
    gap: 4%;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-areas: 
        'reportee work play study'
        'reportee exercise social selfcare';
}
    .reportee {
        grid-area: reportee;
        border-radius: 1rem;
        background-color: var(--dark-blue);
    }
        .info {
            padding: 2rem;
            background-color: hsl(246, 80%, 60%);
            border-radius: 1rem;
            min-height: calc(60% - 4rem);
        }
            .info img {
                width: 30%;
                border-width: 0.2rem;
                border-color: white;
                border-style: solid;
                border-radius: 50%;
                margin-bottom: 2rem;
            }
            .info label {
                color: var(--pale-blue);
            }
            .info h1 {
                font-weight: 100;
                margin-block-start: 1rem;
            }
        .period {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;
            height: calc(40% - 4rem);
            color: var(--pale-blue)
        }
            .period p:hover {
                cursor: pointer;
                color: white;
            }
            .period p:first-child {
                margin-block-start: 0;
            }
            .period p:last-child {
                margin-block-end: 0;
            }

@media screen and (max-aspect-ratio: 1) {
    .dashboard {
        grid-template-columns: auto;
        grid-template-areas: unset;
        gap: unset;
    }
        .reportee {
            grid-area: unset;
            margin-block-end: 2rem;
        }
            .info {
                display: grid;
                grid-template-columns: 25% 75%;
            }
                .info img {
                    width: 100%;
                    margin-bottom: 0;
                    align-self: center;
                }
                .info div {
                    margin-left: 1rem;
                    align-self: center;
                }
                .info h1 {
                    font-size: 1.5rem;
                    margin-block-end: 0;
                }
            .period {
                flex-direction: row;
            }
                .period p {
                    margin-block-start: 0
                }
}
