@import url('https://fonts.googleapis.com/css2?family=Rubik');

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: hsl(226, 43%, 10%);
  font-family: Rubik, sans-serif;
  display: grid;
  place-items: center;
  color: white;
}

main {
  width: 90vw;
  max-width: 1024px;
  aspect-ratio: 2;
  display: flex;
  justify-content: space-between;
}

footer {
  position: fixed;
  bottom: 1vh;
}

@media screen and (max-aspect-ratio: 1) {
  main {
    aspect-ratio: auto;
  }
  footer {
    position: static;
    margin-bottom: 1vh;
    text-align: center;
  }
}
